{% extends 'base.html.twig' %}

{% block title %}{{ 'Infos pratiques'|trans }}{% endblock %}

{% block infosActive %}activeLink{% endblock %}

{% block content %}

    <section class="container mb-6">

        <h1 class="h2 display-4 text-center mt-5 mb-6 ">{{ 'Infos pratiques'|trans }}</h1>

        <div class="relaBlock"><img src="{{ asset('img/icons8-clock.svg') }}" alt="" width="45px"/><h2 class="text-muted subTicketing inline font400 mb-5">{{ 'Horaires'|trans }}</h2></div>

        <p>
            <span class="font-weight-bold">{{ 'Lundi : '|trans }}</span>9h - 18h<br/>
            <span class="font-weight-bold">{{ 'Mardi : '|trans }}</span>Fermé<br/>
            <span class="font-weight-bold">{{ 'Mercredi : '|trans }}</span>9h - 21h45<br/>
            <span class="font-weight-bold">{{ 'Jeudi : '|trans }}</span>9h - 18h<br/>
            <span class="font-weight-bold">{{ 'Vendredi : '|trans }}</span>9h -21h45<br/>
            <span class="font-weight-bold">{{ 'Samedi : '|trans }}</span>9h - 18h<br/>
            <span class="font-weight-bold">{{ 'Dimanche : '|trans }}</span>9h - 18h<br/>
        </p>
        <p class="mb-6">
            {{ 'L\'évacuation des salles débute à 17h30 ou à 21h15 les jours de nocturne.'|trans }}
        </p>


        <div class="relaBlock"><img src="{{ asset('img/icons8-compass.svg') }}" alt="" width="45px"/><h2 class="text-muted inline subTicketing font400 mb-5">{{ 'Accéder au Musée du Louvre'|trans }}</h2></div>

        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.7954927493324!2d2.3327862514530624!3d48.86211000829687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb975fcfa192f84d4!2sMus%C3%A9e+du+Louvre!5e0!3m2!1sfr!2sat!4v1531364169680" width="1110" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <p class="mt-4"><span class="font-weight-bold">{{ 'En métro : '|trans }}</span>lignes 1 et 7, station "Palais-Royal / Musée du Louvre"</p>

        <p><span class="font-weight-bold">{{ 'En bus : '|trans }}</span>bus n° 21, 24, 27, 39, 48, 68, 69, 72, 81, 95</p>

        <p><span class="font-weight-bold">{{ 'Stations Velib à proximité du musée : '|trans }}</span><br/>
            n°1015 : 2 place A. Malraux<br/>
            n°1023 : 165 rue Saint-Honoré<br/>
            n°1014 : 5 rue de l’Echelle<br/>
            n°1013 : 186 rue Saint-Honoré
        </p>
        <p><span class="font-weight-bold">{{ 'En voiture : '|trans }}</span>{{ 'Un parc de stationnement souterrain est accessible par l\'avenue du général Lemonier, tous les jours de 7 h 00 à 23 h 00.'|trans }}</p>

        <p class="mb-6"><span class="font-weight-bold">{{ 'En Batobus : '|trans }}</span>Escale Louvre, quai François Mitterrand</p>


        <div class="relaBlock"><img src="{{ asset('img/phone-2.svg') }}" alt="" width="45px"/><h2 class="text-muted inline subTicketing font400 mb-5">{{ 'Nous contacter'|trans }}</h2></div>

        <p><span class="font-weight-bold">{{ 'Hotline : '|trans }}</span>+33 (0)1 40 20 50 50</p>

        <p><span class="font-weight-bold">{{ 'Adresse mail : '|trans }}</span>contact@louvre.com</p>

    </section>

{% endblock %}
