{% extends 'base.html.twig' %}

{% block title %}Bénéficiaires{% endblock %}

{% block content %}

    <h1 class="h2 display-4 text-center mt-5 mb-5 ">{{ 'Billetterie'|trans }}<br /><small class="text-muted d-md-none subTicketing">{{ 'Etape 2/4 : Bénéficiaires'|trans }}</small></h1>



    <nav class="d-none d-md-block mt-5 mb-5">
        <ul class="my-breadcrumb">
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/calendar-60.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'Réservation'|trans }}</div>
            </li>
            <img src="{{ asset('img/arrow.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/badge-13.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'Bénéficiaire'|trans }}</div>
            </li>
            <img src="{{ asset('img/arrow-bw.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/handout-bw.svg') }}" alt="" width="80px"/></div>
                <div class="navText grey">{{ 'Paiement'|trans }}</div>
            </li>
            <img src="{{ asset('img/arrow-bw.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/like-2-bw.svg') }}" alt="" width="80px"/></div>
                <div class="navText grey">{{ 'Confirmation'|trans }}</div>
            </li>
        </ul>
    </nav>

    <section class="container">

        <p class="text-center mb-5">
            {{ 'Afin de nous permettre de définir votre tarification, veuillez compléter les champs ci-dessous :'|trans }}
        </p>

        {{ form_start(form) }}
        {% for key, ticket in form.ticketsList %}
            {% if order.ticketsQuantity == 1 %}
                {{ form_row(ticket, {'label': false } ) }}
            {% else %}
                {% set userIndex = 'Personne ' ~ loop.index %}
                {{ form_row(ticket, {'label': userIndex } ) }}
            {% endif %}
        {% endfor %}
        <input type="submit" class="btn btn-outline-dark btn-lg btn-louvre font-weight-bold float-right" value="{{ 'Valider'|trans }}"/>
        {{ form_end(form) }}

        <a href="{{ path('ticketing_booking') }}">
            <button type="button" class="btn btn-outline-dark btn-lg btn-louvre font-weight-bold">{{ 'Retour'|trans }}</button>
        </a>

        <div class="text-center mt-5">
            <a href="{{ path('index') }}">
                <button type="button" class="btn btn-outline-dark  mb-2 btn-louvre">{{ 'Annuler la commande'|trans }}</button>
            </a>
        </div>

    </section>

{% endblock %}
