{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block content %}

    <section class="container mb-5">

        <h1 class="h4  text-center mt-5 mb-4 ">Billetterie<br /><small class="text-muted d-md-none">Etape 1/4 : Réservation</small></h1>



        <nav class="d-none d-md-block mt-5">
            <ul class="my-breadcrumb">
                <li><a href="#">Réservation</a></li>
                <li><a href="#">Bénéficiaire</a></li>
                <li><a href="#">Paiement</a></li>
                <li><a href="#">Confirmation</a></li>
            </ul>
        </nav>


        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}


        <a href="{{ path('ticketing_beneficiary') }}">
            <button type="button" class="btn btn-outline-dark btn-lg btn-louvre font-weight-bold">Retour</button>
        </a>

    </section>

    <div class="text-center">
        <a href="{{ path('index') }}">
            <button type="button" class="btn btn-outline-dark  mb-2 btn-louvre">Annuler la commande</button>
        </a>
    </div>


{% endblock %}
