{% extends 'base.html.twig' %}

{% block title %}{{ 'Billetterie'|trans }}{% endblock %}

{% block orderActive %}activeLink{% endblock %}

{% block content %}

<section class="container mb-5">

    <h1 class="h2 display-4 text-center mt-5 mb-5 ">{{ 'Billetterie'|trans }}<br/><small class="text-muted d-md-none subTicketing">{{ 'Etape 4/4 : Confirmation'|trans }}</small></h1>

    <nav class="d-none d-md-block mt-5 mb-5">
        <ul class="my-breadcrumb">
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/calendar-60.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'Réservation'|trans }}</div>
            </li>
            <img src="{{ asset('img/arrow.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/badge-13.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'beneficiary.number'|transchoice(order.ticketsQuantity) }}</div>
            </li>
            <img src="{{ asset('img/arrow.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/handout.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'Paiement'|trans }}</div>
            </li>
            <img src="{{ asset('img/arrow.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/like-2.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'Confirmation'|trans }}</div>
            </li>
        </ul>
    </nav>

    <p class="text-center mb-5 max-width">
        {{ 'Nous vous remerçions pour votre commande. Vous allez recevoir dans quelques instants un mail contenant '|trans }}{{ 'yourTicket.number'|transchoice(order.ticketsQuantity) }}{{ ' à imprimer et à présenter lors de votre visite du musée.'|trans }}
    </p>

    <div>
        <p>{{ 'Code de réservation : '|trans }}<span class="font-weight-bold">{{ order.bookingRef }}</span></p>
        <p>{{ 'Nombre de billets : '|trans }}<span class="font-weight-bold">{{ order.ticketsQuantity }}</span></p>
        <p>{{ 'Type de billet : '|trans }}<span class="font-weight-bold">{% if order.ticketType == 1 %}{{ 'Journée'|trans }}
            {% elseif order.ticketType == 2 %}{{ 'Demi-Journée'|trans }}</span>
            {% endif %}
        </p>
        <p>{{ 'Date de visite : '|trans }}<span class="font-weight-bold">{{ order.bookingDate|date('d/m/Y') }}</span></p>
        <p>{{ 'Moyen de paiement : '|trans }}<span class="font-weight-bold">{{ 'Carte bancaire'|trans }}</span></p>
        <p>{{ 'Total de la commande : '|trans }}<span class="font-weight-bold">{{ order.totalPrice|number_format(2, ',') }} €</span></p>
    </div>

    <p style="margin-bottom: 75px;">{{ 'yourTicketHasBeenSent.number'|transchoice(order.ticketsQuantity) }}{{ ' à l\'adresse mail suivante : '|trans }}<span class="font-weight-bold">{{ order.emailCustomer }}</span></p>



    <div class="text-center mb-5">
        <a href="{{ path('index') }}">
            <button type="button" class="btn btn-outline-dark btn-lg mb-2 btn-louvre font-weight-bold">{{ 'Retour à l\'accueil'|trans }}</button>
        </a>
    </div>
</section>

{% endblock %}
