{% extends 'base.html.twig' %}

{% block title %}{{ 'Paiement'|trans }}{% endblock %}

{% block orderActive %}activeLink{% endblock %}

{% block content %}

<section class="container mb-5">

    <h1 class="h2 display-4 text-center mt-5 mb-5 ">{{ 'Billetterie'|trans }}<br/><small class="text-muted d-md-none subTicketing">{{ 'Etape 3/4 : Paiement'|trans }}</small></h1>

    <nav class="d-none d-md-block mt-5 mb-5">
        <ul class="my-breadcrumb">
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/calendar-60.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'Réservation'|trans }}</div>
            </li>
            <img src="{{ asset('img/arrow.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/badge-13.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'beneficiary.number'|transchoice(order.ticketsQuantity) }}</div>
            </li>
            <img src="{{ asset('img/arrow.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/handout.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">{{ 'Paiement'|trans }}</div>
            </li>
            <img src="{{ asset('img/arrow-bw.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/like-2-bw.svg') }}" alt="" width="80px"/></div>
                <div class="navText grey">{{ 'Confirmation'|trans }}</div>
            </li>
        </ul>
    </nav>

    <p class="text-center mb-5">
        {{ 'Une fois votre commande finalisée, '|trans }}{{ 'yourTicketWillBeSent.number'|transchoice(order.ticketsQuantity) }}{{ ' au format PDF à l\'adresse mail suivante :'|trans }}<br/>
        <span class="font-weight-bold">{{ order.emailCustomer }}</span>
    </p>

    <table class="table mb-5">
        <thead class="table-headBorder">
        <tr>
            <th class="table-headBorder" scope="col">{{ 'ticket.number'|transchoice(order.ticketsQuantity) }}</th>
            <th class="table-headBorder text-center" scope="col">{{ 'Prix'|trans }}</th>
        </tr>
        </thead>

        <tbody>

        {% for ticket  in  order.ticketsList  %}
        <tr>
            <td>{{ 'Bénéficiaire : '|trans }}<div class="inlineName"><span class="font-weight-bold name">{{ ticket.firstName }} {{ ticket.lastName }}</span></div>
                <br/>

                {{ 'Tarif : '|trans }}<span class="font-weight-bold">{% if ticket.pricing == 1 %}{{ 'Tout-petit'|trans }}
                {% elseif ticket.pricing == 2 %}{{ 'Enfant'|trans }}
                {% elseif ticket.pricing == 3 %}{{ 'Normal'|trans }}
                {% elseif ticket.pricing == 4 %}{{ 'Senior'|trans }}
                {% elseif ticket.pricing == 5 %}{{ 'Réduit'|trans }}
                {% endif %}</span>
                <br/>

                {{ 'Type de billet : '|trans }}<span class="font-weight-bold">{% if order.ticketType == 1 %}{{ 'Journée'|trans }}
                {% elseif order.ticketType == 2 %}{{ 'Demi-Journée'|trans }}
                {% endif %}</span>
                <br/>

                {{ 'Date de visite : '|trans }}<span class="font-weight-bold">{{ order.bookingDate|date('d/m/Y') }}</span>

            </td>
            <td class="text-center"><span class="font-weight-bold ws">{{ ticket.price|number_format(2, ',') }} €</span></td>
        </tr>
        {% endfor %}

        <tr>
            <td class="font-weight-bold">Total :
            <td class="font-weight-bold text-center ws">{{ order.totalPrice|number_format(2, ',') }} €</td>
        </tr>


        </tbody>
    </table>

    <p class="text-center mb-5 max-width">
        {{ 'Veuillez vérifier l\'exactitude des informations données ci-dessus et cliquer sur le bouton "Valider" pour procéder au paiement par carte bancaire.'|trans }}
    </p>


    <form action="{{ path('ticketing_confirmation') }}" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_XJEMQqTn9vPLz78h6NYr2bRb"
                data-amount="{{ (order.totalPrice * 100) }}"
                data-name="{{ 'Musée du Louvre'|trans }}"
                data-description="Billetterie"
                data-image="{{ asset('img/louvre-stripe.png') }}"
                data-locale="auto"
                data-currency="eur"
                data-email="{{ order.emailCustomer }}"
                data-label="{{ 'Valider'|trans }}"
        >
        </script>
    </form>

    <a href="{{ path('ticketing_beneficiary') }}">
        <button type="button" class="btn btn-outline-dark btn-lg btn-louvre font-weight-bold">{{ 'Retour'|trans }}</button>
    </a>

    <div class="text-center mt-5">
        <a href="{{ path('index') }}">
            <button type="button" class="btn btn-outline-secondary  mb-2 btn-louvre">{{ 'Annuler la commande'|trans }}</button>
        </a>
    </div>

</section>

{% endblock %}
