{% extends 'base.html.twig' %}

{% block title %}Billetterie{% endblock %}

{% block content %}

<section class="container mb-5">

    <h1 class="h2 display-4 text-center mt-5 mb-5 ">Billetterie<br/><small class="text-muted d-md-none subTicketing">Etape 3/4 : récapitulatif</small></h1>

    <nav class="d-none d-md-block mt-5 mb-5">
        <ul class="my-breadcrumb">
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/calendar-60.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">Réservation</div>
            </li>
            <img src="{{ asset('img/arrow.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/badge-13.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">Bénéficiaire</div>
            </li>
            <img src="{{ asset('img/arrow.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/handout.svg') }}" alt="" width="80px"/></div>
                <div class="navText font-weight-bold">Paiement</div>
            </li>
            <img src="{{ asset('img/arrow-bw.svg') }}" alt="" width="30px" class="arrow"/>
            <li class="liBreadcrumb">
                <div class="svgDiv"><img src="{{ asset('img/like-2-bw.svg') }}" alt="" width="80px"/></div>
                <div class="navText grey">Confirmation</div>
            </li>
        </ul>
    </nav>


    <table class="table mb-5">
        <thead class="table-headBorder">
        <tr>
            <th class="table-headBorder" scope="col">Billet</th>
            <th class="table-headBorder text-center" scope="col">Prix</th>
        </tr>
        </thead>

        <tbody>

        {% for ticket  in  order.ticketsList  %}
        <tr>
            <td>Bénéficiaire : <span class="font-weight-bold">{{ ticket.firstName }} {{ ticket.lastName }}</span>
                <br/>

                Tarif : <span class="font-weight-bold">{% if ticket.pricing == 1 %}Tout-petit
                {% elseif ticket.pricing == 2 %}Enfant
                {% elseif ticket.pricing == 3 %}Normal
                {% elseif ticket.pricing == 4 %}Senior
                {% elseif ticket.pricing == 5 %}Réduit
                {% endif %}</span>
                <br/>

                Type de billet : <span class="font-weight-bold">{% if order.ticketType == 1 %}Full day
                {% elseif order.ticketType == 2 %}Half-day
                {% endif %}</span>
                <br/>

                Date de visite : <span class="font-weight-bold">{{ order.bookingDate|date('Y/m/d') }}</span>

            </td>
            <td class="text-center">{{ ticket.price|number_format(2, ',') }} €</span></td>
        </tr>
        {% endfor %}

        <tr>
            <td class="font-weight-bold">Total :
            <td class="font-weight-bold text-center">{{ order.totalPrice|number_format(2, ',') }} €</td>
        </tr>


        </tbody>
    </table>

    <p class="text-center mb-2">
        Veuillez vérifier l'exactitude des informations données ci-dessus et cliquer sur le bouton "Valider" pour procéder au paiement par carte bancaire.
    </p>

    <p class="text-center mb-5">
        Une fois votre commande finalisée, vos billets seront envoyé au format PDF à l'adresse mail suivante :<br/>
        <span class="font-weight-bold">{{ order.emailCustomer }}</span>
    </p>


    <form action="{{ path('ticketing_confirmation') }}" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_XJEMQqTn9vPLz78h6NYr2bRb"
                data-amount="{{ (order.totalPrice * 100) }}"
                data-name="Musée du Louvre"
                data-description="Billetterie"
                data-image="{{ asset('img/louvre-stripe.png') }}"
                data-locale="auto"
                data-currency="eur"
                data-email="{{ order.emailCustomer }}"
                data-label="Valider"
        >
        </script>
    </form>

    <a href="{{ path('ticketing_beneficiary') }}">
        <button type="button" class="btn btn-outline-dark btn-lg btn-louvre font-weight-bold">Retour</button>
    </a>

</section>

{% endblock %}
