<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            body {
                font-family: "Open Sans", sans-serif;
                margin: 0 0;
                box-sizing: border-box;
            }
            header {
                padding: 25px 0;
                background: linear-gradient( whitesmoke, rgba(255,0,0,0));
            }
            h1, h2 {
             text-align: center;
                color: rgb(52, 58, 64);
            }
            .logo {
                width: 60px;
                height: auto;
                min-height: 0;
                min-width: 0;
                margin: auto;
            }
            .round {
                border: solid 2px black;
                border-radius: 100px;
                width: 80px;
                height: 80px;
                display: flex;
                margin: auto;
                background-color: white;
            }
            section {
                padding: 0 30px;
            }
            p {
                margin-bottom: 35px;
            }
            .bold {
                font-weight: bold;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 75px;
            }
            thead {
                padding-left: 0px;
                padding-right: 0px;
                border-bottom: solid grey 2px;
            }
            .center {
                text-align: center;
            }
            .left {
                text-align: left;
            }
            .right {
                text-align: right;
            }
            .quart {
                width: 20%;
            }
            .textInfo {
                font-size: 15px;
            }
            .separator {
                border-top: black 1px;
                width: 30%;
                text-align: center;
                margin-bottom: 35px;
            }
        </style>
    </head>


    <body>

    <header>
        <h1>{{ 'Musée du Louvre'|trans }}</h1>
        <div class="round">
            <img class="logo" src="{{ app.request.getSchemeAndHttpHost() ~ asset('img/louvre-mail.png') }}" alt="Logo du Musée du Louvre">
        </div>
        <h2>{{ 'Billetterie'|trans }}</h2>
    </header>


    <section>
        <p>{{ 'Date de commande : '|trans }}{{ "now"|date("m/d/Y H:i") }}</p>

        <p>{{ 'Madame, Monsieur,'|trans }}</p>

        <p>{{ 'Veuillez trouver en pièce jointe une attestation de réservation au format PDF consernant la commande suivante :'|trans }}</p>

        <p>{{ 'Code de réservation : '|trans }}<span class="bold">{{ order.bookingRef }}</span><br/>

            {{ 'Date de visite: '|trans }}<span class="bold">{{ order.bookingDate|date("m/d/Y") }}</span><br/>

            {{ 'Type de billet : '|trans }}{% if order.ticketType == 1 %}<span class="bold">{{ 'Journée'|trans }}</span>
            {% elseif order.ticketType == 2 %}<span class="bold">{{ 'Demi-journée'|trans }}</span>
            {% endif %}<br/>

            {{ 'Nombre de billets : '|trans }}<span class="bold">{{ order.ticketsQuantity }}</span><br/>

            {{ 'Prix total de la commande: '|trans }}<span class="bold">{{ order.totalPrice|number_format(2, ',') }} €</span>
        </p>

        <table>
            <thead>
                <tr>
                    <th class="left">{{ 'Bénéficiaire'|trans }}</th>
                    <th class="quart center">{{ 'Tarif'|trans }}</th>
                    <th class="quart right">{{ 'Prix'|trans }}</th>
                </tr>
            </thead>

            <tbody>

            {% for ticket  in  order.ticketsList  %}
                <tr>
                    <td class="left">
                        {{ ticket.firstName }} {{ ticket.lastName }}
                    </td>

                    <td class="center">
                        {% if ticket.pricing == 1 %}{{ 'Tout-petit'|trans }}
                        {% elseif ticket.pricing == 2 %}{{ 'Enfant'|trans }}
                        {% elseif ticket.pricing == 3 %}{{ 'Normal'|trans }}
                        {% elseif ticket.pricing == 4 %}{{ 'Senior'|trans }}
                        {% elseif ticket.pricing == 5 %}{{ 'Réduit'|trans }}
                        {% endif %}
                    </td>

                    <td class="right">
                        {{ ticket.price|number_format(2, ',') }} €
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>


        <p>
            {{ 'N\'oubliez pas de vous munir d\'une version imprimée du document reçu en pièce jointe le jour de votre visite ainsi que de toute pièce justificative éventuelle.'|trans }}
        </p>

    </section>

    <footer>
        <hr class="separator">
        <p class="center textInfo">Musée du Louvre<br/>
            99, rue de Rivoli 75001 Paris<br/>
            <a href="#">louvre-billetterie.com</a>
        </p>
    </footer>

    </body>

</html>
